<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sirawit B. | Portfolio</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link rel="icon" href="./photo/man.png" />
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="index.html">Sirawit B.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav mr-auto ml-auto">
                    <a class="nav-item nav-link" href="index.html">Home</a>
                    <a class="nav-item nav-link" href="profile.html">Profile</a>
                    <a class="nav-item nav-link" href="portfolio.html">Project</a>
                    <a class="nav-item nav-link" href="contact.html">Contact</a>
                </div>
            </div>
          </nav>

        <div class="container text-light">
            <h1 class="mt-5 text-light">My Project</h1>
            <h3 class="mt-5 text-light">Website</h3>
            <hr class="bg-light">
            <div class="row mt-3">
                <div class="col-md-4 mb-2" v-for="list in project">
                    <div class="card border-1 bg-transparent border-dark">
                        <img class="card-img-top" :src="list.image" :alt="list.title">
                        <div class="card-body ">
                            <h5 class="card-title">{{ list.title }} </h5>
                            <p><span class="tag">{{ list.detail }}</span></p>
                            <p><span class="badge badge-pill badge-info">{{ list.tech }}</span> <span class="badge badge-pill badge-warning">{{ list.extra }}</span> <span class="badge badge-pill badge-danger">{{ list.danger }}</span></p>
                            <p><span class="badge badge-pill badge-primary">{{ list.recommend }}</span></p>
                            <a :href="list.code" class="btn btn-sm btn-outline-success">SOUCE CODE</a>
                            <a :href="list.web" class="btn btn-sm btn-outline-primary">VISIT WEBSITE</a>
                            
                        </div>
                        <div class="card-footer border-dark">
                            <small class="text-muted">Date : {{ list.date }} </small>
                        </div>
                    </div>
                </div>
            </div>
            
            <h3 class="mt-5 text-light">Mobile App </h3>
            <hr class="bg-light">

            <div class="row mt-3">
                <div class="col-md-4 mb-2" v-for="list in mobile">
                    <div class="card border-1 bg-transparent border-dark">
                        <img class="card-img-top" :src="list.image" :alt="list.title">
                        <div class="card-body ">
                            <h5 class="card-title">{{ list.title }} </h5>
                            <p><span class="tag">{{ list.detail }}</span></p>
                            <p><span class="badge badge-pill badge-info">{{ list.tech }}</span> <span class="badge badge-pill badge-warning">{{ list.extra }}</span> <span class="badge badge-pill badge-danger">{{ list.danger }}</span></p>
                            <p><span class="badge badge-pill badge-primary">{{ list.recommend }}</span></p>
                            <a :href="list.code" class="btn btn-sm btn-outline-success">SOUCE CODE</a>
                            <a :href="list.web" class="btn btn-sm btn-outline-primary">VISIT WEBSITE</a>
                        </div>
                        <div class="card-footer border-dark">
                            <small class="text-muted">Date : {{ list.date }} </small>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="mt-5 text-light">UI/UX Designer</h3>
            <hr class="bg-light">

            <div class="row mt-3">
                <div class="col-md-4 mb-2" v-for="list in designer">
                    <div class="card border-1 bg-transparent border-dark">
                        <img class="card-img-top" :src="list.image" :alt="list.title">
                        <div class="card-body ">
                            <h5 class="card-title">{{ list.title }} </h5>
                            <p><span class="tag">{{ list.detail }}</span></p>
                            <p><span class="badge badge-pill badge-info">{{ list.tech }}</span> <span class="badge badge-pill badge-warning">{{ list.extra }}</span> <span class="badge badge-pill badge-danger">{{ list.danger }}</span></p>
                            <p><span class="badge badge-pill badge-primary">{{ list.recommend }}</span></p>
                            <a :href="list.code" class="btn btn-sm btn-outline-success">DOWNLOAD</a>
                            <a :href="list.web" class="btn btn-sm btn-outline-primary">VISIT WEBSITE</a>
                        </div>
                        <div class="card-footer border-dark">
                            <small class="text-muted">Date : {{ list.date }} </small>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    
    <footer class="page-footer font-small text-light">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="#"> Sirawit B.</a>
        </div>
        <!-- Copyright -->
    </footer>
    <script src="file.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

 <!-- Footer -->
 

</html>